<footer class="footer-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="footer-logo">
			<%= image_tag 'logo-b.png' %>
		</div>
		<div class="footer-title">
			<h4>Jobs on Ave.</h4>
		</div>
		<div class="footer-social">
			<a href="https://www.facebook.com/jetpathco" target="blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://www.instagram.com/jetpath_co/" target="blank"><i class="fa fa-instagram"></i></a>
			<a href="mailto:info@jetpath.co" target="blank"><i class="fa fa-envelope"></i></a>
		</div>
</footer>