#error_explanation h2 {
	display: none;
}

#error_explanation ul li {
	color: red;
}

#new_company input, #new_user input {
	margin-bottom: 10px;
}

.sign-up--background {
	background-image: image-url('vietnam-bg.jpg') !important;
	background-size: cover;
	background-position-y: 70%;
	margin-top: -20px;
	margin-bottom: -50px;
}

.sign-up--page {
	margin-top: 10%;
	margin-bottom: 10%;
}

#sign-up-tagline {
	color: #F6F6F6 !important;
}

#sign-up-header {
	color: black !important;
}
