$first-color: #F6F6F6;
$second-color: #145ba8;
$third-color: #FFF;
$form-color: #eaeaea;
$error-color: #e60505;
$footerbg-color: #000;
$footertype-color: #8c8989;
$footerborder-color: #E9EAEE;
$first-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h4 {
	font-family: $first-font !important;
	color: $first-color;
	font-weight: 700 !important;
}
h2, p {
	font-family: $second-font;
}

.form-labels {
	margin-top: 10px;
	margin-bottom: 0;
}

/* NAV BAR */ 

.navbar {
	border-bottom: 1px solid $first-color !important;
	box-shadow: 0px 1px 3px $first-color;
	font-family: $first-font;
	font-weight: 700;
}


.navbar .navbar-toggle .icon-bar {
	background-color: #dadada !important;
}

.navbar-nav li a#navbar-post-job {
	color: $error-color !important;
}

.navbar-nav li a#navbar-profile {
	color: $second-color !important;
}

@media (min-width: 768px) {
	.navbar li {
			border-top: 3px solid white;
		&:hover {
			border-top: 3px solid $second-color;
		}
		&:active {
			border-top: 3px solid $second-color;
		}
	}

	.navbar li a {
	line-height: 31px !important;
    height: 62px;
	}
}


.navbar li a, .navbar #navbar-sub-menu {
    color: #333;
		&:hover {
			background-color: white !important;
			color: #0152a8;
		}
}

@media (max-width: 767px) {
	.navbar-nav {
    	margin: 0px -15px !important;
	}	
	.navbar ul {
		background-color: $first-color;
	}
	.navbar li {
		border-top: 1px solid #dadada;
		border-bottom: 1px solid #dadada;
		a {
			font-size: 12px;
			font-weight: 400;
		}
	}
	.navbar #navbar-sub-menu {
		line-height: 25px;
	}
}

.dropdown-menu {
	padding: 0 !important;
	background-color: $first-color !important;
	li {
		border-top: 3px solid $first-color;
	}
	li a {
		height: 100% !important;
		&:hover {
			background-color: $first-color !important;
		}
	}
}

textarea {
	height: 150px;
}

.home-flash {
	text-align: center;
	z-index: 100;
	width: 100%;
}

.bg-banner {
	margin-top: -20px;
	padding: 20px;
}


.home-container {
	margin-top: -120px;
	position: relative;
	overflow: hidden;
}

.gif-container {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.home-search-form {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 50%;
	h1{
		color: $third-color;
		font-size: 60px;
		padding: 20px 0px;
	}
}

.home-search-form--container {
	position: relative;
	left: -50%;
}

.home-search-form--header {
	margin: 0px !important;
	padding: 0px !important;
	margin-bottom: 20px !important;

	@media (max-width: 991px) {
		font-size: 5vh !important;
	}
}

.home-search-form--input {
	padding: 10px 20px;
	margin-bottom: 20px;
	width: 100%;
	outline: none;
	&:focus {
		transition: border-color 0.4s ease;
		border: 3px solid $second-color;
	}
}

.home-search-form--search {
	background-color: $first-color;
	color: $second-color;
	border: 2px solid $second-color; 
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
	&:hover {
		background-color: $second-color;
		color: $first-color;
		transition: background-color 0.2s ease;
	}
}

/* #### FOOTER #### */

footer {
	background-color: $footerbg-color;
	border-top: 12px solid $footerborder-color;
}

.footer-container {
  	text-align: center !important;
  	padding: 5vh 0px;
  	/*height: 50vh;*/
  	font-family: $first-font;

  	h1 {
  		color: #ddd;
  		font-size: 13px;
  		padding-bottom: 23px;
  	}
  	li {
  		padding: 5px 0px;
  	}
  	li a {
  		color: #bfbfbf;
  		font-size: 12px;
  		&:hover {
  			color: $second-color;
  			text-decoration: none;
  		}
  	}
}

.footer-title {

}

.footer-social {
	display: flex !important;
  	justify-content: center !important;
  	align-items: center !important;
  	align-content: center !important;
  	text-align: center !important;
  	
  	i {
  		color: $third-color;
  		font-size: 16px;
  		padding: 0px 10px;
  		margin-top: 20px;

  		&:hover {
  			color: $second-color;
  		};
  	}
}
