.bg-container {
	background-size: cover;
	background-position: center center;
}

/*.new-post-bg--container {
	background-image: image-url('newpost-bg.jpg') !important;
}

.company-login-bg--container {
	background-image: image-url('company-bg.jpg') !important;
	height: 80vh;
}

.user-login-bg--container {
	background-image: image-url('user-bg.jpg') !important;
	background-position: top center;
	height: 80vh;
}*/

.new-post--container {
	padding: 20px;
	padding-top: 0px;

	h1 {
		color: $second-color;
	}

	p {
		color: $first-color;
	}
}

.new-post--input {
	background-color: $third-color;
	opacity: 0.90;
	padding: 10px;
	border: 1px solid $first-color;
	margin-top: 10px;
	outline: none;
	width: 100%;

	&:focus {
		transition: border-color 0.4s ease;
		border-color: #66afe9;
    	outline: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	};
}

.new-post--textarea {
	height: 100px;
	resize: none;
}

.new-post--submit {
	margin-top: 10px;
}

.new-post--payment-container {
	margin-top: 50px;
	border: 2px solid $second-color;
}

@media (max-width: 991px) {
	.new-post-bg--container, .new-post--container {
		padding: 0 !important;
	}
}

.payment-errors {
	color: $error-color;
}

