.company-edit--options {
	cursor: pointer;
	text-align: center;
	background-color: lighten($first-color, 93%);
	font-weight: 900;
}

.company-edit--options-active {
	transition: background-color 0.5s ease;
	background-color: $first-color;
	color: $second-color;
}

.company-edit--hidden {
	display: none;
}

#company-edit-bg--container {
	background: rgba(255, 255, 255, 0.8);
	min-height: 100vh;
	height: 100%;
	padding-bottom: 20px;
}

.company-edit--nav {
	min-height: 100vh;
	height: 100%;
}

#company-edit--company-logo-label {
	margin: 10px 0px;
}

#sign-up-email-field {
	margin-bottom: 15px;
}

.company-edit--logout {
	background-color: #a81919;
	color: $third-color;

	 &:hover {
		color: $third-color;
		text-decoration: none;
	 }
}