.company-edit--options {
	cursor: pointer;
	text-align: center;
}

.company-edit--options-active {
	background: $first-color;
	color: $second-color;
}

.company-edit--hidden {
	display: none;
}

#company-edit-bg--container {
	background: rgba(255, 255, 255, 0.8);
	min-height: 100vh;
	height: 100%;
	padding-bottom: 20px;
}

.company-edit--nav {
	min-height: 100vh;
	height: 100%;
}

#company-edit--company-logo-label {
	margin: 10px 0px 0px 0px;
}