.show-main {
	padding-bottom: 10px;
}

.show-main--company {
	text-align: center;
}

.show-main--logo {
	text-align: center;
}

.show-main--description p {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.show-main--resume-description p {
	text-align: justify;
}

.show-main--social {
	a {
		padding-left: 5px;
		padding-right: 5px;

		i {
		font-size: 25px;
		color: $second-color;

			&:hover {
				color: $first-color;
				cursor: pointer;
			};
		};
	};
}

.show-main--apply {
	text-align: center;
	margin-top: 10px;
}

.show-main--post {
	float: none !important;
    width: 95% !important;
    margin: 0 auto !important;
}

.show-main--post-description {
	margin: 0;
	text-align: justify;
}

.show-main--post-description-title {
	padding-left: 0 !important;
}

.show-main--post-description-text {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*.show-newsletter {
	padding: 20px 0px;
}

.show-newsletter--fixed {
	background-color: lighten($second-color, 28%);
	padding: 20px;
}

.newsletter-form {
	width: 100%;
}
*/

.show-side--icon-wrapper {
	padding-bottom: 10px;
	text-align: left;
}

.show-side--icon {
	padding-right: 10px;
    display: inline-block;
}

.show-resume-side--icon {
	width: 85px;
}

.show-side--icon i {
	width: 10px;
}

.apply-now-hidden, .payment-hidden, .payment-options-hidden {
	display: none;
}

.payment-active {
	display: initial;
}

.apply-now-active {
	display: initial;
	background-color: $third-color;
	color: #000;
	border: 5px solid $second-color;

		&:hover {
			background-color: $third-color;
			color: #000;
			cursor: default;
		};
}

.resume-container--title {
	text-align: left;
	h1 {
		margin-top: 0;
	}
}

.resume-container--description p {
	text-align: justify;
}

/*MOBILE VIEW*/

@media screen and (max-width: 991px) {
  	.show-main, .show-main--company, .show-main--post-title, .show-main--post-description {
	    padding-left: 0 !important;
	    padding-right: 0 !important;
	}
	.resume-container--title {
		text-align: center;
	}
}