.show-main {
	padding-bottom: 10px;
}

.show-main--logo {
	text-align: center;
}

.show-main--social {
	display: flex;
	justify-content: center;
	text-align: center;

	a {
		width: 25%;

		i {
		font-size: 25px;
		color: $first-color;

			&:hover {
				color: $second-color;
				cursor: pointer;
			};
		};
	};
}

.show-main--apply {
	text-align: center;
	margin-top: 10px;
}

.show-main--post {
	border-top: 1px solid black;
}

.show-newsletter {
	padding: 20px 0px;
}

.show-newsletter--fixed {
	background-color: lighten($second-color, 28%);
	padding: 20px;
}

.apply-now-hidden {
	display: none;
}

.apply-now-active {
	display: initial;
	background-color: $third-color;
	color: $first-color;
	border: 5px solid $second-color;

		&:hover {
			background-color: $third-color;
			cursor: default;
		};
}

.newsletter-form {
	width: 100%;
}