.main-body {
	position: relative;
	padding-top: 120px;
}

.index-search-form--input {
	display: inline;
}

.index-search-form--search {
	margin-bottom: 20px;
}

.post-container {
	
		h1 {
			margin: 0px;
			color: $second-color;
		}

		h2 {
			margin: 0px;
		}

		h3 {
			margin: 0px;
		}
}